<div>
    Welcome {{ user.username }}
    <p> Name : {{ user.name }} </p>
    <p> Username : {{ user.username }} </p>
    <p> Email : {{ user.email }} </p>
    <p> Blood : {{ user.blood }}</p>
   </div>
   <div>To upload documents, click <a href="/file">here</a></div>
   <div>To upload documents(fr), click <a href="/myapp">here</a></div>
   <div>To pay for your medical bills, click <a href="{% url 'authApp:payment' %}">here</a></div>
   <div>To logout, <a href="{% url 'authApp:logout' %}">Click Here</a></div>