<html>
<head>
<title>Tiger Healthcare</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="banner">
        <div class="logo"><img src="/templates/logo.png" width="200" height="100" alt="logo"></div>
        <div class="banner_text">
            <h1>Tiger Healthcare</h1>
        </div>
    </div>

    <div class = "bod">
        <h2>Welcome Back!</h2>
    </div>

<form method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Login</button>
    <div>Don't have an account? <a href="{% url 'authApp:organizationregister' %}">Sign up</a>
</form>

<script>
    //script to protect against DDoS attacks
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
</body>

</html>