<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <a href="#">Hi {{user.username}}</a>
        <!-- List of uploaded documents -->
        {% if documents %}
            All documents in the database:
            <ul>
                {% if user.is_authenticated %}
                    {% for document in documents %}
                        {% if document.user == request.user %}
                            <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
        
        <div>To go back home,, <a href="{% url 'authApp:home' %}">Click Here</a></div>
        <div>See docs  <a href="{% url 'docsls' %}">Click Here</a></div>
    </body>
</html>